body{
    background-color:#ffffff;
    color: #201b2b;
    font-size: 15px;
    padding: 0px;
    margin: 0px;

}

.ver{
    margin-bottom: 100px;
    height: 85px;
    display: flex;
    justify-content: center; 
    background: rgba(128, 189, 158, 0.6);
    
}

.logo, .Top_menu{
    display: inline-block;
    vertical-align: middle;
}

.Top_menu li{
    margin-left: 150px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.Top_menu a{
    font-family: 'Open Sans', sans-serif;;
    font-size: 14px;
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

.Top_menu a:hover{
    color: #F68D1F;
}

.about_the_resort{
    justify-content: left;
    padding-left: 250px;
    
}

.about_the_resort p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
}

.price{
    margin-top: 70px;
    text-align: center;
}

.photo{
    
    align-items: center;
    margin-top: 80px;
    text-align: center;
}

.photo img{
    transition: 1s;
}

.photo img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }

   .mail{
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .btn-form{
    width: 517px;
    height: 80px;
    border: 0px;
    background: #80BD9E;
    margin-bottom: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    }

.footer{
    height: 90px; 
    background: rgba(128, 189, 158, 0.6);

}

.the{
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.plane{
    margin-right: 200px;
}

.name{
    margin-right: 100px;
}

.agreement{
    margin-right: 100px;
}

.soq{
    margin-right: 100px;
}

.insta{
    margin-right: 10px;
}

.tiktok{
    margin-right: 10px;
}